body {
  background-color: #eaf2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: #ffffff;
  font-style: oblique;
  font-weight: 500;
  font-size: 20px;
}
h1 {
  color: #41e259;
  font-size: 45px;
  font-weight: 550;
  font-family: "Arial", sans-serif;
}

main {
  width: 80%;
  height: 90vh;
  background: rgb(25, 25, 27); /* just to SEE it */
}

form {
  background-color: rgb(252, 249, 245);
  padding: 20px;
  display: flex;
  align-items: center;
}
.prompter {
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #eef6ea;
}
.sub {
  border-radius: 30px;
  box-shadow: 0px 0px 5px #bcf4a2;
  border: 1px solid #387e18;
  background-color: #8aca6c;
  padding: 5px 20px;
  color: rgb(76, 3, 3);
}
#foot {
  text-align: center;
  display: block;
  color: #8dd567;
}
#instructions {
  color: #141321;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 10px;
}
